{# empty Twig template #}
<h2>{{ vin.name }}</h2>
<figure>
    <img src="/pics/{{ vin.picture }}" alt="{{ vin.name }}">
    <figcaption>{{ vin.name }}</figcaption>
</figure>
<p>{{ vin.country }}</p>
<p>{{ vin.region }}</p>
<p>{{ vin.description }}</p>